*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.container .cella{
    border: 1px solid black;
    width: var(--cella-size);
    aspect-ratio: 1/1;

}

.bg-onclick{
    background-color: aqua;
}

:root{
    --cella-size: 50px
}